@custom-media  --sm (width <= 767px);
@custom-media  --omd screen and (959px >= width >= 768px) and (device-aspect-ratio: 12/16); /* targets tablet only */
@custom-media  --md (min-width: 768px) and (max-width: 992px);
/*@custom-media  --lmd (width <= 959px);
@custom-media  --lg (width >= 960px);
@custom-media  --xl (width >= 1280px);*/

.root {
  height: 275px;
  background: #8A572E;
  color: #fff;

  @media (--sm) {
    height: 80vh;
  }
}

.wrapper {
  height: 100%;
  background-image: url('./footerTile.png');
}

.container {
  margin: auto;
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;

  @media (--sm) {
    flex-direction: column;
  }
}

.credits {
  align-self: flex-end;
}

.appleStore {
  width: 200px;
}

.artists {
  display: flex;
  justify-content: space-around;

  @media (--sm) {
    flex-direction: column;
  }
}

.artist {
  margin: 50px;

  @media (--sm) {
    margin: 25px;
  }
}
