@custom-media  --sm (width <= 767px);
@custom-media  --omd screen and (959px >= width >= 768px) and (device-aspect-ratio: 12/16); /* targets tablet only */
@custom-media  --md (min-width: 768px) and (max-width: 992px);
/*@custom-media  --lmd (width <= 959px);
@custom-media  --lg (width >= 960px);
@custom-media  --xl (width >= 1280px);*/

.root {
  width: 100vw;
  height: 80vh;
  background: #F9D5CF;
  color: #F9B4A8;
  position: relative;
  overflow: hidden;
  border-bottom: 0.005rem solid #ccc;

  @media (--md){
    height: 60vh;
  }
}

.brand {
  position: relative;
  color: #F9B4A8;
  width: 300px;
  font-size: 1.75em; /* ~28px */
  line-height: 3rem;
  opacity: 0;
  margin: 50px;
}

.brandTxt1 {
  font-size: 2.4rem;
  font-weight: 400;
  letter-spacing: 0.4rem;
}

.brandTxt2 {
  font-size: 4.3rem;
  font-weight: 600;
}

.phoneContainer {
  position: relative;
  background-color: #58E2C2;
  width: 100%;
  height: 100%;
}

.phone {
  display: block;
  position: relative;
  margin: 0 auto;
  margin-top: 50rem;
  z-index: 999;

  @media (--sm) {
    width: 70%;
    margin-top: 55`rem;
  }
}

.mountainOne {
  position: absolute;
  right: 0;
  width: 50vw;
  bottom: -150px;
  right: -600px;
  z-index: 888;
}

.mountainTwo {
  position: absolute;
  bottom: -300px;
  left: -500px;
  z-index: 877;
}

.mountainThree {
  position: absolute;
  bottom: -400px;
  right: -500px;
  z-index: 899;
}

.treeOneStyle, .treeTwoStyle, .treeThreeStyle {
  position: absolute;
  z-index: 950;
}

.treeOneStyle {
  left: 80vw;
  top: -75px;

  @media (--md){
    left: 85vw;
    top: 145px;
  }
}

.treeTwoStyle {
  left: 70vw;
  top: 35px;

  @media (--md){
    top: 45px;
  }
}

.treeThreeStyle {
  left: 20vw;
  top: -85px;

  @media (--md){
    left: 10vw;
  }
}

.cloudOne, .cloudTwo, .cloudThree {
  position: absolute;
  display: table;
  z-index: 977;
}

.cloudOne {
  top: 300px;
  left: -200px;
}

.cloudTwo {
  top: 400px;
  left: 45%;
}

.cloudThree {
  top: 130px;
  left: -200px;
}
