.root {
  height: 80vh;
  background: #F9D5CF;
  color: #F9B4A8;
  position: relative;
  overflow: hidden;
  border-bottom: 2px solid #08BD94;
}

.brand {
  color: #F9B4A8;
  width: 300px;
  font-size: 1.75em; /* ~28px */
  line-height: 3rem;
}

.brandTxt1 {
  font-size: 2.3rem;
  font-weight: 400;
  letter-spacing: 0.5rem;
}

.brandTxt2 {
  font-size: 4rem;
  font-weight: 600;
}

.phone {
  position: absolute;
  left: 38%;
  margin-top: 12rem;
  z-index: 999;
}

.mountainOne {
  position: absolute;
  right: 0;
  top: 40vh;
  right: -170px;
  z-index: 888;
}

.mountainTwo {
  position: absolute;
  right: 0;
  top: 55vh;
  left: -300px;
  z-index: 877;
}

.mountainThree {
  position: absolute;
  top: 60vh;
  left: 300px;
  z-index: 899;
}

.tree {
  position: absolute;
  z-index: 777;
}

.cloud {
  position: absolute;
  z-index: 977;
}
