.root {
  height: 80vh;
  background: #F9D5CF;
  color: #F9B4A8;
  position: relative;
  overflow: hidden;
  border-bottom: 2px solid #08BD94;
}

.brand {
  color: #F9B4A8;
  width: 300px;
  font-size: 1.75em; /* ~28px */
  line-height: 3rem;
  opacity: 0;
  margin: 50px;
}

.brandTxt1 {
  font-size: 2.3rem;
  font-weight: 400;
  letter-spacing: 0.5rem;
}

.brandTxt2 {
  font-size: 4rem;
  font-weight: 600;
}

.phoneContainer {
  position: relative;
  background: black;
  width: 100%;
  height: 100%;
}

.phone {
  display: block;
  position: relative;
  margin: 0 auto;
  margin-top: 50rem;
  z-index: 999;
}

.mountainOne {
  position: absolute;
  right: 0;
  top: 40vh;
  right: -600px;
  z-index: 888;
}

.mountainTwo {
  position: absolute;
  top: 55vh;
  left: -500px;
  z-index: 877;
}

.mountainThree {
  position: absolute;
  top: 60vh;
  right: -500px;
  z-index: 899;
}

.tree {
  position: absolute;
  left: 5%;
  top: -500px;
  z-index: 950;
}

.cloud {
  position: absolute;
  left: -200px;
  z-index: 977;
}
